body {
    background-color: steelblue;
    color: rgb(128, 41, 0);
    font-weight: bold;
}

.input-group {
    /* width: 30%; */
    padding: 10px;
}

.container {
    width: 100%;
    text-align: center;
    padding-top: 60px;
}

.col,
.col-sm {
    margin-bottom: 18px;
}

.btn-warning {
    margin-bottom: 15px;
}

#Todo {
    width: 100%;
    height: 40px;
    margin: 10px;
}

.jumbotron {
    background-image: url("calendar.jpg");

}

footer {
    background-color: white;
    font-stretch: extra-expanded;
    height: auto;
    padding: auto;
    margin-top:20px;;
    margin-bottom:0px;
}
